<div class="flex flex-col gap-5 justify-center">
  <div class="px-5 py-2 bg-white rounded-2xl shadow shadow-main-color w-fit">
    <span class="font-bold"
      >✨ Welcome to
      <span class="text-main-color font-extrabold text-2xl inline-block animate-pulse"
        >Socia App</span
      ></span
    >
  </div>
  <div class="">
    <p class="font-extrabold text-6xl">
      <span class="text-main-color block">Share your world.</span> Connect with your <br />
      people.
    </p>
  </div>
  <div>
    <p class="font-medium">
      Join Socia Posts and connect with friends, share your thoughts, <br />
      discover new posts, and be part of a growing community.
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="shadow shadow-main-color p-6 rounded-2xl transition hover:-translate-y-1.5">
      <figcaption class="flex items-center justify-center gap-1">
        <div class="bg-sky-100 text-main-color px-2 py-1 rounded">
          <i class="fa-solid fa-user-group"></i>
        </div>

        <div class="space-y-0.5 text-left rtl:text-right ms-2">
          <div class="text-base text-heading font-extrabold mb-0.5">Connect</div>
          <div class="text-sm text-body">Find and connect with people.</div>
        </div>
      </figcaption>
    </div>
    <div class="shadow shadow-main-color p-6 rounded-2xl transition hover:-translate-y-1.5">
      <figcaption class="flex items-center justify-center gap-1">
        <div class="bg-sky-100 text-main-color px-2 py-1 rounded">
          <i class="fa-regular fa-message"></i>
        </div>

        <div class="space-y-0.5 text-left rtl:text-right ms-2">
          <div class="text-base text-heading font-extrabold mb-0.5">Share</div>
          <div class="text-sm text-body">Share your thoughts and moments.</div>
        </div>
      </figcaption>
    </div>
    <div class="shadow shadow-main-color p-6 rounded-2xl transition hover:-translate-y-1.5">
      <figcaption class="flex items-center justify-center gap-1">
        <div class="bg-sky-100 text-main-color px-2 py-1 rounded">
          <i class="fa-regular fa-comment-dots"></i>
        </div>

        <div class="space-y-0.5 text-left rtl:text-right ms-2">
          <div class="text-base text-heading font-extrabold mb-0.5">Engage</div>
          <div class="text-sm text-body">Like, comment and interact.</div>
        </div>
      </figcaption>
    </div>
    <div class="shadow shadow-main-color p-6 rounded-2xl transition hover:-translate-y-1.5">
      <figcaption class="flex items-center justify-center gap-1">
        <div class="bg-sky-100 text-main-color px-2 py-1 rounded">
          <i class="fa-solid fa-shield-heart"></i>
        </div>

        <div class="space-y-0.5 text-left rtl:text-right ms-2">
          <div class="text-base text-heading font-extrabold mb-0.5">Discover</div>
          <div class="text-sm text-body">Discover what's happening around you.</div>
        </div>
      </figcaption>
    </div>
  </div>
  <div class="flex items-center">
    <div
      class="bg-sky-100 px-1.5 py-2 rounded-full text-main-color border border-main-color w-9 h-9 flex items-center justify-center"
    >
      P
    </div>
    <div
      class="bg-third-color px-1.5 py-2 -ms-2.5 z-10 rounded-full text-main-color w-9 h-9 border border-main-color flex items-center justify-center"
    >
      R
    </div>
    <div
      class="bg-sky-100 px-1.5 py-2 -ms-2.5 z-20 rounded-full text-main-color w-9 h-9 border border-main-color flex items-center justify-center"
    >
      +
    </div>
    <span class="text-2xl font-bold ms-3 text-dark-soft"> Be part of the conversation.</span>
  </div>
</div>
