<aside
  class="felx flex-col px-4 py-4 gap-7 w-full border border-slate-50 shadow-sm font-bold rounded-2xl"
>
  <button
    class="flex items-center gap-2 cursor-pointer transition-all rounded-xl hover:text-main-color hover:shadow-sm hover:shadow-main-color/50 p-2"
  >
    <i class="fa-regular fa-newspaper"></i><span>Feed</span>
  </button>
  <button
    class="flex items-center gap-2 cursor-pointer transition-all rounded-xl hover:text-main-color hover:shadow-sm hover:shadow-main-color/50 p-2"
  >
    <i class="fa-solid fa-wand-magic-sparkles"></i><span>My Posts</span>
  </button>
  <button
    class="flex items-center gap-2 cursor-pointer transition-all rounded-xl hover:text-main-color hover:shadow-sm hover:shadow-main-color/50 p-2"
  >
    <i class="fa-solid fa-globe"></i><span>Community</span>
  </button>
  <button
    class="flex items-center gap-2 cursor-pointer transition-all rounded-xl hover:text-main-color hover:shadow-sm hover:shadow-main-color/50 p-2"
  >
    <i class="fa-regular fa-bookmark"></i><span>Saved</span>
  </button>
</aside>
